.App {
  max-width: 570px;
  margin: 30px auto;
}

.App footer {
  text-align: center;
  font-size: 11px;
  margin: 10px 0;
}

.container {
  background: linear-gradient(
    #abcaff 0%,
    #9de2fd 40%,
    #ffd2da 75%,
    #fdddc7 95%
  );
  border-radius: 4px;
}
